body{
    font-family: 'Times New Roman', Times, serif;
    color:khaki ;
    background-image: url(sugarcane.jpg);
    background-color: darkgreen;

}

.current{
    color:beige;
}

nav a{
    color:black;
    
}
