body{
    font-family: 'Times New Roman', Times, serif;
    color:azure ;
    background-image: url(sugarcane.jpg);
    background-color: darkgreen;

}
header{
  background: url(mask.png) top right no-repeat;
}

.current{
    color:beige;
}

nav a{
    color:black;
    
}
.list{
    list-style-image:url(bullet.png);
}
