body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    font-size: medium;
    background-color: bisque;
}


.title{
    font-family: cursive
}

.emp{
    color: teal;
}

#newColor{
    color:burlywood;
}

.bold{
    font-weight:bolder;
}

.new{
    color: burlywood;
}