body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color:bisque;
    width: 70%;
    margin: 30px auto;
    padding: 20px 30px 100px 3px;
    
   
}

header h1 {
    margin-bottom: 0;
    border:5px solid red
}

nav {
    background-color:darkslategray;
    height: 200px;
    margin-top: 40px;
}

#wrapper {
    width: 600px;
    margin: 0 auto;
    background-color:antiquewhite;
    border: thin solid black;
}